* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
}


/* =================================================navbar================================================== */
.navbar {
  background: #ffffff12;
  width: 62%;
  position: absolute;
  margin-top: 30px;
  z-index: 10;
  justify-self: center;
  border-radius: 50px;
  backdrop-filter: blur(33px);
  border: 0.2px solid #ffffff66;
}

.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
}