* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  width: 100%;
  height: 100%;
  background-color: #061216;
}


/* ================================================= navbar ================================================== */
.navbar {
  width: 62%;
  /* position: absolute; */
  margin-top: 22px;
  z-index: 10;
  justify-self: center;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.13);
  backdrop-filter: blur(29px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-item a {
  color: white;
  padding: 5px;
  gap: 5px;
  text-decoration: none;
  position: relative;
  margin-right: 55px;

}

.nav-item a:hover {
  color: #8d8d8d;
  text-decoration: none;
}

.nav-item a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -1px;
  left: 0;
  background-color: #bababa;
  transition: width 0.3s ease;
  z-index: 1;
}

.nav-item a:hover::after {
  width: 100%;
}

#githubBtn {
  padding: 5px;
  margin-right: 12px;
}

#githubBtn a {
  color: black;
  text-decoration: none;
}



/* ================================================= light rays css ================================================== */


.light-rays-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}


/* ================================================= Home css ================================================== */

/* From Uiverse.io by zanina-yassine */
.loginsignBtns button {
  min-width: 120px;
  position: relative;
  cursor: pointer;
  padding: 12px 17px;
  border: 0;
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(ellipse at bottom,
      rgb(86, 96, 107) 0%,
      rgb(15, 15, 15) 45%);

  color: rgb(255, 255, 255, 0.66);
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.loginsignBtns button::before {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 50%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 0.2;
  transition: all 0.1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.loginsignBtns button:hover {
  color: rgb(255, 255, 255, 1);
  transform: scale(1.05) translateY(-2px);
}

.loginsignBtns button:hover::before {
  opacity: 1;
}

.home-container {
  justify-items: center;
  margin-top: 6rem;
}

.home-container h1 {
  letter-spacing: 4px;
  font-size: 3.1rem;
  font-style: italic;
}

.home-container p {
  margin-top: -10px;
  margin-bottom: 22px;
}

.loginsignBtns {
  gap: 15px;
  display: flex;
}


/* From Uiverse.io by Yaseen549 */
.card {
  width: 276px;
  text-align: center;
  color: white;
  align-items: center;
  /* height: 312px; */
  height: auto;
  border-radius: 30px;
  background: #081e23;
  box-shadow: 15px 15px 30px rgba(255, 255, 255, 0.103), -15px -15px 30px rgba(255, 255, 255, 0.103);
  padding: 6px 14px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, box-shadow 0.2s ease-in-out
}

.card:hover {
  background: #081e23;
  transform: scale(1.01) translateY(-5px);
  box-shadow: 15px 15px 30px rgba(255, 255, 255, 0.202), -15px -15px 30px rgba(255, 255, 255, 0.103);
}

.home-card-container {
  margin-top: 123px;
  gap: 4rem;
  width: 100%;
  margin-bottom: 56px;
  justify-content: center;
}


.home-card-container img {
  width: 50%;
}


/* ================================================= Login sign  css ================================================== */



.background {
  width: 453px;
  height: 470px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.background .shape {
  height: 170px;
  width: 170px;
  position: absolute;
  border-radius: 50%;
}

.shape:first-child {
  background: linear-gradient(#26262600, #646464);
  left: -39px;
  top: -4px;
}

.shape:last-child {
  background: linear-gradient(to right, #ff512f00, #827f7a);
  right: -30px;
  bottom: -113%;
}

form {
  /* height: 520px; */
  width: 365px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  /* top: 95%; */
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 29px 20px;
  margin-top: 31rem;
  margin-bottom: 1200px;
}

form * {
  font-family: 'Poppins', sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  margin-top: 21px;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}

::placeholder {
  color: #e5e5e5;
}

.signupBtns {
  margin-top: 21px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}

#homeBtn {
  width: 40%;
  margin: 5px 96px;
  padding: 2px 0px;
  font-size: 11px;

}

.SignUP-p {
  font-size: 12px;
}

.Login-Form {
  /* height: 520px; */
  width: 365px;
  background-color: rgba(255, 255, 255, 0.13);
  position: absolute;
  transform: translate(-50%, -50%);
  /* top: 95%; */
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 29px 20px;
  margin-top: 20rem;
  /* margin-bottom: 1200px; */
}

#login-bottom-shape {
  background: linear-gradient(to right, #ff512f00, #827f7a);
  right: -30px;
  bottom: -39%;
}

/* ================================================= Playlist css ================================================== */




/* From Uiverse.io by Cobp */
.container_chat_bot {
  display: flex;
  flex-direction: column;
  max-width: 550px;
  width: 100%;
}

.container_chat_bot {
  position: relative;
  display: flex;
  background: linear-gradient(to bottom right,
      #7e7e7e,
      #363636,
      #363636,
      #363636,
      #363636);
  border-radius: 16px;
  padding: 1.5px;
  overflow: hidden;
  margin-bottom: 14px;

  &::after {
    position: absolute;
    content: "";
    top: -10px;
    left: -10px;
    background: radial-gradient(ellipse at center,
        #ffffff,
        rgba(255, 255, 255, 0.3),
        rgba(255, 255, 255, 0.1),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0));
    width: 30px;
    height: 30px;
    filter: blur(1px);
  }
}

.container_chat_bot .chat {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  width: 100%;
  overflow: hidden;
}

.container_chat_bot .chat .chat-bot {
  position: relative;
  display: flex;
}

.container_chat_bot .chat .chat-bot textarea {
  background-color: transparent;
  border-radius: 16px;
  border: none;
  width: 100%;
  height: 38px;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  padding: 10px;
  resize: none;
  outline: none;

  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #555;
    cursor: pointer;
  }

  &::placeholder {
    color: #f3f6fd;
    transition: all 0.3s ease;
  }

  &:focus::placeholder {
    color: #363636;
  }
}






.playlist-container {
  justify-items: center;
  margin-top: 3rem;
}

.playlist-container h5 {
  margin-left: 9px;
}

.addBtn {
  min-width: 120px;
  position: relative;
  cursor: pointer;
  padding: 5px 0px;
  border: 0;
  border-radius: 7px;
  box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
  background: radial-gradient(ellipse at bottom, rgb(86, 96, 107) 0%, rgb(15, 15, 15) 45%);
  color: rgb(255, 255, 255, 0.66);
  transition: all 1s cubic-bezier(0.15, 0.83, 0.66, 1);
}


.addBtn::before {
  content: "";
  width: 70%;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 15%;
  background: rgb(255, 255, 255);
  background: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 0%,
      rgb(255, 255, 255) 50%,
      rgba(255, 255, 255, 0) 100%);
  opacity: 0.2;
  transition: all 0.1s cubic-bezier(0.15, 0.83, 0.66, 1);
}

.addBtn:hover {
  color: rgb(255, 255, 255, 1);
  transform: scale(1.05) translateY(-2px);
}

.addBtn:hover::before {
  opacity: 1;
}

.playlist-container button {
  width: 15%;
  position: absolute;
  justify-self: anchor-center;
}




.Songitem-container {
  margin-top: 12rem;
  background-color: rgba(70, 70, 70, 0.488);
}